<% if (alerts.error) { %>
    <% alerts.error.forEach(msg => { %>
        <div class="z-depth-2 col s12 m2 alert red darken-1">
            <p class="white-text alertText"><%= msg %></p>
        </div>
    <% }); %>
<% } %>
<% if (alerts.success) { %>
    <% alerts.success.forEach(msg => { %>
        <div class="z-depth-2 col s12 m2 alert green darken-2">
            <p class="white-text alertText"><%= msg %></p>
        </div>
    <% }); %>
<% } %>