<!-- <h2>This page should have a description with login and signup buttons plus a guitar background image</h2> -->
<!-- 
<h2>Welcome to GuitStrum!</h2>
<h4>We designed this site for aspiring guitar players who want to improve their knowledge of chords and build their repertoire.</h4>

<form action="/auth/login" method="get">
  <button class="Btn Btn-primary" name="login" type="submit">Login</button>
</form>

<form action="/auth/signup" method="get">
  <button class="Btn Btn-primary" name="signup" type="submit">Signup</button>
</form> -->


<div class="parallax-container">
  <div class="parallax"><img src="https://cdn.shopify.com/s/files/1/0550/6737/files/OW_Hero_1600x.png?v=1565229529"></div>
</div>
<div class="section white">
  <div class="container">
    <div class="row container">
      <h2>Welcome to GuitStrum!</h2>
      <h4>We designed this site for aspiring guitar players who want to improve their knowledge of chords and build their repertoire.</h4>

      <form action="/auth/login" method="get">
        <button class="Btn Btn-primary" name="login" type="submit">Login</button>
      </form>

      <form action="/auth/signup" method="get">
        <button class="Btn Btn-primary" name="signup" type="submit">Signup</button>
      </form>
    </div>
  </div>
</div>
<!-- <div class="parallax-container">
  <div class="parallax"><img src="https://cdn.shopify.com/s/files/1/0550/6737/files/OW_Hero_1600x.png?v=1565229529"></div>
</div> -->
