<!-- <h2>This page should have a description with login and signup buttons plus a guitar background image</h2> -->

<div class="parallax-container">
  <div class="parallax"><img src="https://cdn.shopify.com/s/files/1/0550/6737/files/OW_Hero_1600x.png?v=1565229529"></div>
</div>
<div class="section white">
  <div class="container">
    <div class="row container">
      <h2 class="center-align">Welcome to GuitStrum!</h2>
      <h4 class="center-align">We designed this site for aspiring guitar players who want to improve their knowledge of chords and build their song repertoire.</h4>
      <div class="row"></div>
      <div class="row">
        <div class="col s6 offset-s1">
          <form action="/auth/login" method="get">
            <button class="waves-effect waves-light btn-large leftMarg19" name="login" type="submit">Login</button>
          </form>
        </div>  
        <div class="col s5">
          <form action="/auth/signup" method="get">
            <button class="waves-effect waves-light btn-large leftMarg19" name="signup" type="submit">Signup</button>
          </form>
        </div>  
      </div>  
    </div>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="/img/songwritingImg.jpeg"></div>
</div>
<div class="section white">
  <div class="container">
    <div class="row container">
      <h5 class="center-align">Or go check out the site!</h5>
      <div class="row"></div>
      <div class="row"></div>
      <div class="row">
        <div class="col s6 offset-s1">
          <a href="/chords/" class="waves-effect waves-light btn-large leftMarg19">Chords</a>
        </div>  
        <div class="col s5">
          <a href="/songs/" class="waves-effect waves-light btn-large leftMarg19">Songs</a>
        </div>  
      </div> 
    </div>
  </div>
</div>