<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GuitStrum</title>
      <!-- Latest compiled and minified CSS & JS -->
      <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"> -->
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <nav>
      <div class="nav-wrapper light-blue darken-4">
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <!-- <a class="left" href="/">GuitStrum</a> -->
          <a href="/" class="brand-logo center">GuitStrum</a>
          <!-- <a href="/chords/">Chords</a> -->
          <li><a href="/chords/">Chords</a></li>
          <!-- <a href="/songs/">Songs</a> -->
          <li><a href="/songs/">Songs</a></li>
        </ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <% if (currentUser) { %>
            <!-- <a class="right" href="/auth/logout">Logout</a> -->
            <li><a href="/auth/logout">Logout</a></li>
            <!-- <a href="/profile">Profile</a> -->
          <% } else { %>
          <!-- <a class="right" href="/auth/signup">Signup</a> -->
          <li><a href="/auth/signup">Signup</a></li>
          <!-- <a class="right" href="/auth/login">Login</a> -->
          <li><a href="/auth/login">Login</a></li>
          <% } %>
        </ul>
      </div>
    </nav>
    <div class="container">
      <% include partials/alerts %>

      <%- body %>
    </div>
    <footer class="grey darken-3">
      <a href="/">Home</a>
      <!-- insert a small line here -->
      <a href="/chords/">Chords Home</a>
      <a href="/songs/">Songs Home</a>
      <a href="/songs/new">Create New Song</a>
      <p class="white-text">Made by</p>
      <p class="white-text">Pete Fitton</p>
      <p class="white-text">Copyright 2020</p>
    </footer>
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script> -->
    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="/js/materialize.min.js"></script>
    <script type="text/javascript" src="/js/jqueryInit.js"></script>
  </body>
</html>
