body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.alertText {
    margin-left: 10px;
}

.parallax-container {
    height: 400px;
}

footer {
    min-height: 200px;
}

.time44 {
    max-height: 56px;
    margin-top: 13px;
}

.barIcon {
    font-size: 50px;
    margin: 0;
}

.chordText {
    font-size: 28px;
    margin-bottom: 0;
    margin-top: 20px;
}

.h1MargTopLower {
    margin-top: 27px;
}

.linkedIn {
    width: 16px;
    height: 16px;
    text-align: center;
    margin-right: 10px;
    border-radius: 15%;
    line-height: 17px;
    margin-top: 3px;
}

.chordImg {
    margin-top: 10px;
}

.topMarg72 {
    margin-top: 72px;
}

.topMarg44 {
    margin-top: 44px;
}