.alert {
    border-radius: 10px;
    box-shadow: .1em .1em rgb(0, 0, 0);
    color: white;
}

.red {
    background-color: rgb(177, 33, 33);
}

.green {
    background-color: rgb(32, 167, 32);
}

.parallax-container {
    height: 400px;
}

footer {
    min-height: 200px;
}