body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.alertText {
    margin-left: 10px;
}

.parallax-container {
    height: 400px;
}

footer {
    min-height: 200px;
}

.time44 {
    max-height: 56px;
    margin-top: 13px;
}

.barIcon {
    font-size: 50px;
    margin: 0;
}

.chordText {
    font-size: 28px;
    margin-bottom: 0;
    margin-top: 20px;
}

.h1MargTopLower {
    margin-top: 27px;
}