<h1>This page should have a list of saved chords on the left side of the page with a search bar on the right side plus a random chord button in the bottom right corner</h1>


<form action="/chords/result" method="get">
  <label for="chordSearch">Search for Chord:</label>
  <input type="search" name="chordSearch" id="chordSearch">
  <button type="submit">SEARCH</button>
</form>