<!-- <h1>This page displays a specific chord and has a button to either add the chord to My Chords or to delete it from My Chords. Also has a search bar on the right side of page.</h1> -->
<div class="row">
  <div class="col s5 offset-s1">
    <div class="chordImg">
      <img class="chordImg" src="<%= source %>">
    </div>
  </div>
  <div class="col s4">
    <form action="/chords/result" method="get">
      <label for="chordSearch">Search for Chord:</label>
      <input type="search" name="chordSearch" id="chordSearch">
      <button type="submit">SEARCH</button>
    </form>
  </div>
</div>

<% if (typeof user == 'object' && user) { %>
  <% if (typeof user.chords == 'object' && user.chords) { %>
    <% if (user.chords.filter(chord => chord.imageChordName == chordName).length > 0) { %>
      <!-- should use method override to delete -->
      <form action="" method="post">
        <input type="hidden" name="chordName" value="<%= chordName %>">
        <button class="Btn Btn-Primary">Delete from My Chords</button>
      </form>
      <% } else { %>
      <form action="/chords" method="post">
        <input type="hidden" name="chordName" value="<%= chordName %>">
        <button class="Btn Btn-Primary">Add to My Chords</button>
      </form>
    <% } %>
  <% } %>
<% } %>