<!-- form action should add song id in place of word test below -->
<form method="POST" action="/songs/test" id="songEditForm">
  <div class="row">
    <div class="col s3"></div>
    <div class="input-field col s6">
      <input type="search" name="songName" id="songName" value="Song Title" class="center-align">
    </div>
    <div class="col s1"></div>
    <!-- <div class="input-field col s2">
    </div> -->
    <div class="input-field col s2">
      <p>
        <label>
          <input name="pubPriv" type="radio" />
          <span>Public</span>
        </label>
      </p>
      <p>
        <label>
          <input name="pubPriv" type="radio" checked />
          <!-- Conditional render should determine which radio button is automatically checked -->
          <span>Private</span>
        </label>
      </p>
    </div>
  </div>



  <div class="row">
    <div class="input-field col s1">
      <img class="time44" src="https://mymusiconline.co.uk/wp-content/uploads/graphics_png/time_sign_44.png" alt="">
    </div>
    <div class="input-field col s1 barIcon">
      |
    </div>
    <div class="input-field col s1">
      <input type="text" name="chord1" id="chord1">
    </div>
    <div class="input-field col s1">
      <input type="text" name="chord1" id="chord1">
    </div>
    <div class="input-field col s1">
      <input type="text" name="chord1" id="chord1">
    </div>
    <div class="input-field col s1">
      <input type="text" name="chord1" id="chord1">
    </div>
    <div class="input-field col s1 barIcon">
      |
    </div>
    <div class="input-field col s1">
      <input type="text" name="chord1" id="chord1">
    </div>
    <div class="input-field col s1">
      <input type="text" name="chord1" id="chord1">
    </div>
    <div class="input-field col s1">
      <input type="text" name="chord1" id="chord1">
    </div>
    <div class="input-field col s1">
      <input type="text" name="chord1" id="chord1">
    </div>
    <div class="input-field col s1 barIcon">
      |
    </div>
  </div>
  <div class="row">
    <div class="input-field col s1">
    </div>
    <div class="input-field col s1 barIcon">
      |
    </div>
    <div class="input-field col s1">
      <input type="text" name="chord1" id="chord1">
    </div>
    <div class="input-field col s1">
      <input type="text" name="chord1" id="chord1">
    </div>
    <div class="input-field col s1">
      <input type="text" name="chord1" id="chord1">
    </div>
    <div class="input-field col s1">
      <input type="text" name="chord1" id="chord1">
    </div>
    <div class="input-field col s1 barIcon">
      |
    </div>
    <div class="input-field col s1">
      <input type="text" name="chord1" id="chord1">
    </div>
    <div class="input-field col s1">
      <input type="text" name="chord1" id="chord1">
    </div>
    <div class="input-field col s1">
      <input type="text" name="chord1" id="chord1">
    </div>
    <div class="input-field col s1">
      <input type="text" name="chord1" id="chord1">
    </div>
    <div class="input-field col s1 barIcon">
      |
    </div>
  </div>
  <div class="row">
    <div class="input-field col s1">
    </div>
    <div class="input-field col s1 barIcon">
      |
    </div>
    <div class="input-field col s1">
      <input type="text" name="chord1" id="chord1">
    </div>
    <div class="input-field col s1">
      <input type="text" name="chord1" id="chord1">
    </div>
    <div class="input-field col s1">
      <input type="text" name="chord1" id="chord1">
    </div>
    <div class="input-field col s1">
      <input type="text" name="chord1" id="chord1">
    </div>
    <div class="input-field col s1 barIcon">
      |
    </div>
    <div class="input-field col s1">
      <input type="text" name="chord1" id="chord1">
    </div>
    <div class="input-field col s1">
      <input type="text" name="chord1" id="chord1">
    </div>
    <div class="input-field col s1">
      <input type="text" name="chord1" id="chord1">
    </div>
    <div class="input-field col s1">
      <input type="text" name="chord1" id="chord1">
    </div>
    <div class="input-field col s1 barIcon">
      |
    </div>
  </div>
  <div class="row">
    <div class="input-field col s1">
    </div>
    <div class="input-field col s1 barIcon">
      |
    </div>
    <div class="input-field col s1">
      <input type="text" name="chord1" id="chord1">
    </div>
    <div class="input-field col s1">
      <input type="text" name="chord1" id="chord1">
    </div>
    <div class="input-field col s1">
      <input type="text" name="chord1" id="chord1">
    </div>
    <div class="input-field col s1">
      <input type="text" name="chord1" id="chord1">
    </div>
    <div class="input-field col s1 barIcon">
      |
    </div>
    <div class="input-field col s1">
      <input type="text" name="chord1" id="chord1">
    </div>
    <div class="input-field col s1">
      <input type="text" name="chord1" id="chord1">
    </div>
    <div class="input-field col s1">
      <input type="text" name="chord1" id="chord1">
    </div>
    <div class="input-field col s1">
      <input type="text" name="chord1" id="chord1">
    </div>
    <div class="input-field col s1 barIcon">
      |
    </div>
  </div>
</form>

<!-- form for deleting song -->
<!-- <form action=""></form> -->

<div class="row">
  <!-- <div class="input-field col s2">
  </div> -->
  <button class="btn red darken-4 waves-effect waves-light left" type="submit" form="">DELETE
  </button>
  <!-- <div class="col s3">
  </div> -->
  <button class="btn waves-effect waves-light right" type="submit" form="songEditForm">Publish
    <i class="material-icons right">send</i>
  </button>
</div>

