<!-- <h1>This page shows a single song. Has an edit button and a delete button. Displays song and some song information.</h1> -->
<div class="row">
  <div class="col s1"></div>
  <div class="col s10">
    <h1 class="center-align h1MargTopLower">Song Title</h1>
  </div>
  <div class="col s1">
    <h6>Public</h6>
  </div>
</div>

<div class="row">
  <div class="col s1">
    <div class="right-align">
      <img class="time44" src="https://mymusiconline.co.uk/wp-content/uploads/graphics_png/time_sign_44.png" alt="">
    </div>
  </div>
  <div class="col s1 barIcon">
    |
  </div>
  <div class="col s1">
    <p class="chordText">G</p>
  </div>
  <div class="col s1">
    <p class="chordText"></p>
  </div>
  <div class="col s1">
    <p class="chordText">A</p>
  </div>
  <div class="col s1">
    <p class="chordText">G</p>
  </div>
  <div class="col s1 barIcon">
    |
  </div>
  <div class="col s1">
    <p class="chordText">Em</p>
  </div>
  <div class="col s1">
    <p class="chordText">G</p>
  </div>
  <div class="col s1">
    <p class="chordText">G</p>
  </div>
  <div class="col s1">
    <p class="chordText">G</p>
  </div>
  <div class="col s1 barIcon">
    |
  </div>
</div>


<div class="row">
  <div class="col s1">
  </div>
  <div class="col s1 barIcon">
    |
  </div>
  <div class="col s1">
    <p class="chordText">G</p>
  </div>
  <div class="col s1">
    <p class="chordText">G</p>
  </div>
  <div class="col s1">
    <p class="chordText">G</p>
  </div>
  <div class="col s1">
    <p class="chordText">G</p>
  </div>
  <div class="col s1 barIcon">
    |
  </div>
  <div class="col s1">
    <p class="chordText">G</p>
  </div>
  <div class="col s1">
    <p class="chordText">G</p>
  </div>
  <div class="col s1">
    <p class="chordText">G</p>
  </div>
  <div class="col s1">
    <p class="chordText">G</p>
  </div>
  <div class="col s1 barIcon">
    |
  </div>
</div>


<div class="row">
  <div class="col s1">
  </div>
  <div class="col s1 barIcon">
    |
  </div>
  <div class="col s1">
    <p class="chordText">G</p>
  </div>
  <div class="col s1">
    <p class="chordText">G</p>
  </div>
  <div class="col s1">
    <p class="chordText">G</p>
  </div>
  <div class="col s1">
    <p class="chordText">G</p>
  </div>
  <div class="col s1 barIcon">
    |
  </div>
  <div class="col s1">
    <p class="chordText">G</p>
  </div>
  <div class="col s1">
    <p class="chordText">G</p>
  </div>
  <div class="col s1">
    <p class="chordText">G</p>
  </div>
  <div class="col s1">
    <p class="chordText">G</p>
  </div>
  <div class="col s1 barIcon">
    |
  </div>
</div>


<div class="row">
  <div class="col s1">
  </div>
  <div class="col s1 barIcon">
    |
  </div>
  <div class="col s1">
    <p class="chordText">G</p>
  </div>
  <div class="col s1">
    <p class="chordText">G</p>
  </div>
  <div class="col s1">
    <p class="chordText">G</p>
  </div>
  <div class="col s1">
    <p class="chordText">G</p>
  </div>
  <div class="col s1 barIcon">
    |
  </div>
  <div class="col s1">
    <p class="chordText">G</p>
  </div>
  <div class="col s1">
    <p class="chordText">G</p>
  </div>
  <div class="col s1">
    <p class="chordText">G</p>
  </div>
  <div class="col s1">
    <p class="chordText">G</p>
  </div>
  <div class="col s1 barIcon">
    ||
  </div>
</div>


<!-- Song should not be deletable unless the owner is accessing it -->
<!-- form for deleting song -->
<!-- <form action=""></form> -->

<div class="row">
  <!-- <div class="input-field col s2">
  </div> -->
  <button class="btn red darken-4 waves-effect waves-light left" type="submit" form="">DELETE
  </button>
  <!-- <div class="col s3">
  </div> -->
</div>